APP_ENV=development
LOG_LEVEL=INFO
DEFAULT_TIMEZONE=America/Toronto

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_PASSWORD=
DATABASE_URL=

NOTION_TOKEN=
NOTION_PARENT_PAGE_ID=
NOTION_FILMS_DATABASE_ID=
NOTION_PEOPLE_DATABASE_ID=

RESEND_API_KEY=
EMAIL_FROM=reports@lodewijkvos.com
EMAIL_TO=lo@lodewijkvos.com

IMDB_PRO_USERNAME=
IMDB_PRO_PASSWORD=
IMDB_PUBLIC_URL=https://www.imdb.com/name/nm3928402/?ref_=nv_sr_srsg_4_tt_0_nm_8_in_0_q_lodew
IMDB_PRO_URL=https://pro.imdb.com/?ref_=spl_stkyhdr_login_imdb
